<div class="row">
    <h2>
        Contact Me
    </h2>
</div>

<div class="row">
    <label class="center" style="padding-bottom: 10px; text-align: center;">Reach out regarding anything at all, whether
        it be about purchasing any of my work,
        commissions, or general questions.
    </label>
</div>

<div class="row">
    <div style="text-align: center;">
        <label>Instagram: </label>
        <a href="https://www.instagram.com/onreeeeeee/"><label class="link"
                style="margin-left: 5px;">@onreeeeeee</label></a>
    </div>
</div>
<div class="row">
    <div style="text-align: center;">
        <span class="glyphicon glyphicon-envelope"></span><i> hjroque1@gmail.com</i>
    </div>
</div>
<div class="row">
    <div style="text-align: center;">
        <span class="glyphicon glyphicon-map-marker"></span><i> Mashiko, Tochigi-Japan</i>
    </div>
</div>

<div *ngIf="mobile" style="text-align: center;">
    <a [href]="resumeUrl$ | async" target="_blank">resume.pdf</a>
</div>