<div class="row">
  <div class="col-md-12">
    <img id="henri" src="assets/portrait/IMG_3682.PNG" class="center">
  </div>
</div>

<div class="row">
  <p class="center">
    "The vessel is a pop song. It is a format and structure which is familiar and often recreated. The perfect pop song is comprehensible, 
    uncertain and follows a minimalistic and catchy structure, while expressing complex, potent emotions. Echoing the abstract expressionists 
    and their commitment to assertions of profound passion, I use the vessel as an outlet of my personal endeavors. I compose a range of feelings through touch, 
    and present the viewer with past stories, and my given sentiments at that time. The same impulse, energy and curiosity which I find in music, 
    I aim to perform within my work. When successful it approaches the viewer in a manner not foreign in appearance. While I use universal forms for accessibility, 
    I improvise a cacophony of emotions in each piece through touch."
  </p>
</div>

<div class="row">
  <b class="center">- Henri Roque</b>
</div>

