<div class="row">
    <h3>
        Contact Me
    </h3>
</div>

<div class="row">
  <label class="center" style="padding-bottom: 10px; text-align: center;">Reach out regarding anything at all! Whether it be about purchasing any of my art, 
    potential job offerings, or general questions, anything is fair game.
  </label>
</div>

<div class="row">
    <!-- <a href="https://www.instagram.com/onreeeeeee/"><img class="socialmedia" src="../../assets/insta.png" style="margin-bottom:5px;"></a> -->
    <div class="col-xs-12 center">
        <a href="https://www.instagram.com/onreeeeeee/"><img class="socialmedia" src="../../assets/insta.png" style="margin-bottom:5px;"></a>
        <a href="https://www.instagram.com/onreeeeeee/"><label class="link" style="margin-left: 5px;">@onreeeeeee</label></a>
    </div>
    
</div>

<embed src="assets/resume.pdf" type="application/pdf" width="100%" height="1175px" />

<!-- <object width="100%" height="1175px" data="assets/resume.pdf"></object> -->


<!-- <div class="col-md-6 col-xs-12">
    <div class="row">
        <label class="center">Name:</label>
    </div>
    <div class="row">
        <input class="center">
    </div>
    
    <div class="row">
      <label class="center">Email:</label>
    </div>
    <div class="row">
        <input class="center">
    </div>
    
    <div class="row">
        <label class="center">Message:</label>
      </div>
      <div class="row">
          <textarea class="center"></textarea>
      </div>
    
      <div class="row">
          <button class="center">Send</button>
      </div>
</div> -->

<!-- 
<div class="row center">
<div class="col-md-12 col-xs-12">
    <div class="row">
        <span class="glyphicon glyphicon-map-marker"></span><i> Mashiko, Tochigi-Japan</i>
    </div>
  <div class="row">
      <span class="glyphicon glyphicon-envelope"></span><i> hjroque1@gmail.com</i>
  </div>
  <div class="row">
    Click below for my instagram:
  </div>
  <div class="row">
      <a href="https://www.instagram.com/onreeeeeee/"><img class="socialmedia" src="../../assets/insta.png" style="margin-bottom:5px;"></a>
  </div>
  
</div>
</div> -->

 


