<div class="row">
    <h1>
        Reach Out!
    </h1>
</div>

<div class="row">
  <label class="center">Contact me about anything at all! Whether it be about purchasing any of my art, 
    potential job offerings, or general questions, anything is fair game! Thanks :)
  </label>
</div>


<div class="col-md-6">
    <div class="row">
        <label class="center">Name:</label>
    </div>
    <div class="row">
        <input class="center">
    </div>
    
    <div class="row">
      <label class="center">Email:</label>
    </div>
    <div class="row">
        <input class="center">
    </div>
    
    <div class="row">
        <label class="center">Message:</label>
      </div>
      <div class="row">
          <textarea class="center"></textarea>
      </div>
    
      <div class="row">
          <button class="center">Send</button>
      </div>
</div>

<div class="col-md-6">
  <div class="row">
    <span class="glyphicon glyphicon-map-marker"></span><i> Larchmont, NY</i>
  </div>
  <div class="row">
      <span class="glyphicon glyphicon-envelope"></span><i> henriroque@gmail.com</i>
  </div>
  <div class="row">
      <span class="glyphicon glyphicon-phone"></span><i> (914)-555-5555</i>
  </div>
  <div class="row">
    Find me on social media:
  </div>
  <div class="row">
      <img class="socialmedia" src="../../assets/insta.png">
  </div>
  
</div>

 


