<div class="row">
  <h2 style="text-align:center;">Sculptural Artwork</h2>
</div>

<div class="row">
  <label class="center">All of the items below are for sale. Prices vary so 
    reach out to me if any of my artwork peaks your interest and we can go from there.</label>
</div>

 <div class="row">
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_3494.JPG" class="center thumb">
    <label></label>
  </div>
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_3506.JPG" class="center thumb">
    <label></label>
  </div>
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_3555.JPG" class="center thumb">
    <label></label>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_3594.JPG" class="center thumb">
    <label></label>
  </div>
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_3601.JPG" class="center thumb">
    <label></label>
  </div>
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_3674.JPG" class="center thumb">
    <label></label>
  </div>
</div>

<div id="myModal" class="modal" (click)="closeModal()">
  <span (click)="closeModal()" class="close">&times;</span>
  <img class="modal-content" id="modal_img" src={{img}}>
  <!-- <div id="caption">
    <label id="modal_caption">{{modalCaption}}</label>
  </div> -->
</div>