<div class="row">
  <h2 style="text-align: center;">Sculptural Artwork</h2>
</div>

<div class="row">
  <label class="">All of the items below are for sale. Please feel
    free to contact me with any questions.</label>
</div>

<div class="row">
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8703.JPG" class="thumb">
      <label></label>
    </div>
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8706.JPG" class="thumb">
      <label></label>
    </div>
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8707.JPG" class="thumb">
      <label></label>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8711.JPG" class="thumb">
      <label></label>
    </div>
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8736.JPG" class="thumb">
      <label></label>
    </div>
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8744.JPG" class="thumb">
      <label></label>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8758.JPG" class=" thumb">
        <label></label>
      </div>
      <div class="col-md-4">
        <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8760.JPG" class=" thumb">
        <label></label>
      </div>
      <div class="col-md-4">
          <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8816.JPG" class=" thumb">
        <label></label>
      </div>
    </div>

 <div class="row">
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8819.JPG" class=" thumb">
    <label></label>
  </div>
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8820.JPG" class=" thumb">
    <label></label>
  </div>
  <div class="col-md-4">
    <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8822.JPG" class=" thumb">
    <label></label>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8835.JPG" class=" thumb">
    <label></label>
  </div>

  <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8836.JPG" class=" thumb">
    <label></label>
  </div>
  <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8838.JPG" class=" thumb">
    <label></label>
  </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8841.JPG" class=" thumb">
      <label></label>
    </div>
    <div class="col-md-4">
        <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8844.JPG" class=" thumb">
      <label></label>
    </div>
    <div class="col-md-4">
        <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8771.JPG" class=" thumb"> 
      <label></label>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8783.jpg" class=" thumb">
      </div>
      <div class="col-md-6">
          <img (click)="imgClick($event)" src="assets/sculptural/thumbnails/IMG_8831.jpg" class=" thumb">
      </div>
    </div>
  
  <div class="row">
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/fullsize/IMG_3594.JPG" class=" thumb">
      <label></label>
    </div>
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/fullsize/IMG_3601.JPG" class=" thumb">
      <label></label>
    </div>
    <div class="col-md-4">
      <img (click)="imgClick($event)" src="assets/sculptural/fullsize/IMG_3674.JPG" class=" thumb">
      <label></label>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <img (click)="imgClick($event)" src="assets/sculptural/fullsize/IMG_3494.JPG" class=" thumb">
        <label></label>
      </div>
      <div class="col-md-4">
        <img (click)="imgClick($event)" src="assets/sculptural/fullsize/IMG_3506.JPG" class=" thumb">
        <label></label>
      </div>
      <div class="col-md-4">
        <img (click)="imgClick($event)" src="assets/sculptural/fullsize/IMG_3555.JPG" class=" thumb">
        <label></label>
      </div>
    </div>

    

<div id="myModal" class="modal" (click)="closeModal()">
  <span (click)="closeModal()" class="close">&times;</span>
  <img class="modal-content" id="modal_img" src={{img}}>
  <!-- <div id="caption">
    <label id="modal_caption">{{modalCaption}}</label>
  </div> -->
</div>